<div class="bs-example">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink ="/" class="navbar-brand">Brand</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a appBlueColor routerLink ="/test" routerLinkActive = "active">Test</a></li>
                <li><a appBlueColor routerLink ="/header" routerLinkActive = "active">Header</a></li>
                <li><a appBlueColor routerLink ="/directive" routerLinkActive = "active">Directive</a></li>
                <li><a appBlueColor routerLink ="/routing" routerLinkActive = "active">Routing</a></li>
                <li><a appBlueColor routerLink ="/artist" routerLinkActive = "active">Artist</a></li>
                <li><a appBlueColor routerLink ="/search/shivam" routerLinkActive = "active">WithOneParam</a></li>
                <li><a appBlueColor routerLink ="/search/shivam/5" routerLinkActive = "active">WithTwoParam</a></li>
                <li><a appBlueColor routerLink ="/parent" routerLinkActive = "active">Parent to Child Communication</a></li>
                <li><a appBlueColor routerLink ="/childNew" routerLinkActive = "active">Child to Parent Communication</a></li>
                <li><a appBlueColor routerLink ="/forms" routerLinkActive = "active">Forms</a></li>
                <!--<li><a appBlueColor routerLink ="/artisttrack" routerLinkActive = "active">ArtistTrack</a></li>
                <li><a appBlueColor routerLink ="/artistalbum" routerLinkActive = "active">ArtistAlbum</a></li>-->
            </ul>
        </div>
    </nav>
</div>