<!-- One way Binding
<h2>Obne way binding with Interpolation</h2>
<h3>Interploation can be done using Expressions</h3>{{ 10+10 }}
<h3>Interploation can be done using Value</h3>{{ title }}
<h3>String concatenation</h3>{{ title+' Shivam Varshney' }}
<h3>Get Current Date using Interpolation method with returning value</h3>  {{getUpdatedDate()}}
<h3>Get Current Time using Interpolation method with returning value</h3>  {{getUpdatedTime()}}
<h3>Get Current Date using Interpolation parameterised method with returning value</h3>  {{getDateAndTime('date')}}
<h3>Get Current Time using Interpolation parameterised method with returning value</h3>  {{getDateAndTime('time')}}
-->
<!--<app-test></app-test>-->
<app-header></app-header>

